* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

/* 
hr {
  border-top: 0.5px solid darkcyan;
}

.link {
  text-decoration: none;
}

// //////// NAVBAR /////////
.container-nav {
  width: 50%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 3px;
  border: 1px solid greenyellow;
  text-align: center;
  font-size: 30px;
}

.navbar {
  width: 100%;
  height: 50px;
  padding: 0;
  margin-top: 0;
  background-color: darkcyan;
  position: fixed;
  top: 0;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 10px;
}

.nav-ul > .active {
  color: darkgray;
}

.nav-li {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 25px;
}
.nav-li:hover {
  cursor: pointer;
}

////////// CONTACT //////////
.contact-all {
  height: 100vh;
}

.contact-container {
  width: 90%;
  max-width: 1024px;
  border: 1px solid #fff;
  margin: 50px auto;
}

.contact-title {
  font-size: 60px;
  text-align: center;
  margin-top: -60px;
  color: darkcyan;
  font-family: "Rampart One", cursive;
  font-weight: 500;
}

.contact-frame {
  background-color: rgb(216, 216, 216);
  margin-top: 80px;
  height: 300px;
  width: 95%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

////////// ABOUT ME //////////
.about-all {
  height: 100vh;
  background-color: #fff;
}

.about-container {
  width: 90%;
  max-width: 1024px;
  border: 1px solid #fff;
  margin: 50px auto;
}

.about-frame {
  background-color: rgb(216, 216, 216);
  margin-top: 80px;
  height: 300px;
  width: 95%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.about-title {
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  color: darkcyan;
  font-family: "Rampart One", cursive;
  font-weight: 500;
}

.about-desc {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  margin-right: 150px;
}

.about-title p {
  font-size: 25px;
}

.about-img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
////////// SKILLS //////////
.skills-all {
  height: 100vh;
}

.skills-container {
  width: 90%;
  max-width: 1024px;
  border: 1px solid greenyellow;
  margin: 0 auto;
}

.skills-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.skills-col {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid darkcyan;
  border-radius: 5px;
}

.skills-title {
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px;
  color: darkcyan;
  font-family: "Rampart One", cursive;
  font-weight: 500;
}

.skill-title {
  background-color: darkcyan;
  font-family: "Bebas Neue", cursive;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.skill-title.dark {
  background-color: aquamarine;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.skill h6 {
  margin-top: 27px;
  margin-left: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-weight: bolder;
  color: darkcyan;
}

////////// PROJECTS /////////
.projects-all {
  height: 100vh;
  background-color: #fff;
}

.projects-container {
  width: 90%;
  max-width: 1024px;
  border: 1px solid greenyellow;
  margin: 0 auto;
}

.projects-title {
  text-align: center;
  color: darkcyan;
  font-family: "Rampart One", cursive;
  font-weight: 500;
  font-size: 60px;
  margin-top: -20px;
}

.projects-frame {
  background-color: rgb(216, 216, 216);
  margin-top: 50px;
  height: 430px;
  width: 95%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.project-card {
  border: 1px solid darkcyan;
  background-color: #fff;
  width: 35%;
  border-radius: 5px;
}

.project-img {
  width: 100%;
  height: 160px;
}

.project-title {
  font-family: "Bebas Neue", cursive;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
}

.project-desc {
  padding: 5%;
  font-weight: 400;
  font-size: 15px;
}

.project-btn {
  width: 90%;
  margin: 5px auto;
  display: block;
  height: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #fff;
  background-color: darkcyan;
  border: none;
  border-radius: 5px;
}

.project-btn:hover {
  color: darkgray;
  cursor: pointer;
}

/ //////// ICON //////////
.icon-style {
  width: 80px;
  height: 80px;
  padding: 5px;
  fill: cadetblue;
}
*/

/* /////////////////////////////////////////////////////
////////////////////////////////////////////////////////
//////////////////////////////////////////////////////*/

/*                      THEME                         */
.dark {
  --bg-color: #121212;
  --ctn-bg-color: #252525;
  --text-color: #a0a0a0;
  --item-color: rgb(83, 175, 144);
  --transition-delay: 0.5s;
}

.light {
  --bg-color: #fff;
  --ctn-bg-color: #f0f0f0;
  --text-color: #121212;
  --item-color: rgb(50, 142, 196);
  --transition-delay: 0.5s;
}

/*                      NAVBAR                        */

.container-navbar {
  /* border: 1px solid greenyellow; */
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.navbar-bar {
  width: 100%;
  height: 50px;
  background-color: var(--ctn-bg-color);
  text-align: start;
  transition: background-color var(--transition-delay);
}

.navbar-ul {
  display: none;
}

.navbar-ul > .active {
  color: var(--item-color);
}

.nav-li {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 25px;
  font-weight: 300;
  list-style: none;
}

.nav-li:hover {
  cursor: pointer;
}

.menu-burger {
  color: var(--item-color);
  padding-top: 5px;
  padding-left: 10px;
  width: 40px;
  height: 40px;
}

.menu-burger:hover {
  cursor: pointer;
}

#hidden {
  display: flex;
  position: absolute;
  left: 0;
  top: 50px;
  height: 280px;
  width: 50%;
  background-color: var(--ctn-bg-color);
  transition: background-color var(--transition-delay);
  flex-direction: column;
  align-items: flex-start;
}

.theme-icon {
  width: 30px;
  height: 30px;
  padding-bottom: 4px;
  margin-left: 220px;
  color: var(--text-color);
}
.theme-icon:hover {
  cursor: pointer;
}

/*                  ABOUT               */

.about-all {
  height: 100vh;
  min-height: 600px;
  background-color: var(--bg-color);
  transition: background-color var(--transition-delay);
  /* padding: 25px; */
  /* border: 1px solid rgb(143, 92, 209); */
}

.about-container {
  /* border: 1px solid rgb(143, 92, 209); */
  margin: 40px auto;
  width: 85%;
  text-align: center;
}

.about-img {
  margin-top: 50px;
  width: 195px;
  height: 195px;
  border-radius: 100%;
  border: 4px solid var(--ctn-bg-color);
  transition: border var(--transition-delay);
}

.about-desc-container {
  width: 100%;
  height: 200px;
  background-color: var(--ctn-bg-color);
  transition: background-color var(--transition-delay);
  margin-top: -5px;
  border-radius: 10px;
}

.about-desc {
  color: var(--text-color);
  font-size: 30px;
  padding-top: 40px;
  font-family: "Orbitron", sans-serif;
}

.about-desc span {
  color: var(--item-color);
}

.about-desc span::before {
  content: "<";
}

.about-desc span::after {
  content: "/>";
}

/*                 PROJECTS               */

.projects-all {
  height: 100vh;
  min-height: 600px;
  background-color: var(--bg-color);
  transition: background-color var(--transition-delay);
}

.projects-container {
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.projects-title {
  font-family: "Orbitron", sans-serif;
  color: var(--text-color);
  font-size: 27px;
}

.projects-title::before {
  content: "{ ";
  color: var(--item-color);
}

.projects-title::after {
  content: " }";
  color: var(--item-color);
}

.projects-desc-container {
  margin: 20px auto;
  width: 75%;
  height: auto;
  background-color: var(--ctn-bg-color);
  transition: background-color var(--transition-delay);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.project-img {
  margin: 5px;
  width: 96%;
  height: 110px;
  border-radius: 10px;
}

.projects-desc-container h1 {
  color: var(--text-color);
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
}

.projects-desc-container h4 {
  color: var(--text-color);
  text-align: start;
  margin: 10px 10px 0 10px;
}

.button-container {
  /* border: 1px solid var(--item-color); */
  padding: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.project-button {
  width: 30%;
  height: 35px;
  border-radius: 5%;
  border: none;
  font-family: "Orbitron", sans-serif;
  font-size: 11px;
  background-color: var(--item-color);
  color: var(--ctn-bg-color);
}

.project-button:hover {
  cursor: pointer;
}

/*                  SKILLS                */

.skills-all {
  height: 100vh;
  min-height: 600px;
  background-color: var(--bg-color);
  transition: background-color var(--transition-delay);
}

.skills-container {
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.skills-title {
  font-family: "Orbitron", sans-serif;
  color: var(--text-color);
  font-size: 27px;
}

.skills-title::before {
  content: "{ ";
  color: var(--item-color);
}

.skills-title::after {
  content: " }";
  color: var(--item-color);
}

.skills-desc-container {
  width: 90%;
  height: 375px;
  background-color: var(--ctn-bg-color);
  transition: background-color var(--transition-delay);
  margin: 40px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
}

.skill {
  width: 25%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: wrap;
  /* border: 1px solid greenyellow; */
}

.skill p {
  color: var(--text-color);
  font-size: 10px;
  font-family: "Orbitron", sans-serif;
}

.icon-style {
  width: auto;
  /* height: 50px; */
  margin: 5px;
  fill: var(--item-color);
}

.skill-express {
  color: var(--item-color);
  font-weight: 100;
  font-size: 52px;
}

/*                   CONTACT             */
.contact-all {
  height: 100vh;
  min-height: 600px;
  background-color: var(--bg-color);
  transition: background-color var(--transition-delay);
}

.contact-container {
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.contact-title {
  font-family: "Orbitron", sans-serif;
  color: var(--text-color);
  font-size: 27px;
}

.contact-title::before {
  content: "{ ";
  color: var(--item-color);
}

.contact-title::after {
  content: " }";
  color: var(--item-color);
}

.contact-list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-flow: wrap;
}

.contact-desc-container {
  width: 90%;
  background-color: var(--ctn-bg-color);
  transition: background-color var(--transition-delay);
  margin: 10px auto;
  border-radius: 10px;
}

.contact-icon {
  display: flex;
  flex-direction: row;
}

.contact-img {
  width: 50px;
  height: 50px;
  margin: 5px;
  /* border: 1px solid var(--item-color); */
}

.contact-icon-style {
  width: 100%;
  height: 100%;
  fill: var(--item-color);
}

.contact-icon-style:hover {
  cursor: pointer;
}

.contact-icon-style.in {
  margin-top: 7px;
  margin-left: 8px;
}

.contact-icon-style.gmail {
  width: 35px;
  height: 35px;
  margin-top: 8px;
  margin-left: 5px;
}

.contact-icon p {
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  color: var(--text-color);
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .menu-burger {
    display: none;
  }

  .navbar-ul {
    /* border: 1px solid greenyellow; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    padding: 5px;
  }

  .nav-li {
    font-size: 18px;
  }
}
